@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

html {
  font-size: 120%;
  box-sizing: border-box;
}

body {
  font-family: "Crete Round", serif;
  background-color: #cccccc;
}
header {
  position: center;
}

main {
  position: center;
}
